form>span{
    color: red;
}

input[type=text]{
    margin-bottom: 1em;
}

form>label{
    width: 50%;
    text-align: right;
    display:inline-block;
    margin-right: 2em;
}

form>button[type=button]{
    margin-left: 50%;
}

@media only screen and (max-width: 475px){
    form>label{
        text-align: left;
        width: 100%;
    }

    form>button[type=button]{
        margin-left: 0%;
    }
}