form>span{
    color: red;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}

button{
    padding: 0.75em;
    border-radius: .3em;
    background-color: darkgreen;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

button:hover{
    background-color:green;
}

input[type=text]{
    margin-bottom: 1em;
}

form>label{
    width: 50%;
    text-align: right;
    display:inline-block;
    margin-right: 2em;
}

form>button[type=button]{
    margin-left: 50%;
}

.message{
    font-style: italic;
}

@media only screen and (max-width: 475px){
    form>label{
        text-align: left;
        width: 100%;
    }

    form>button[type=button]{
        margin-left: 0%;
    }
}